In [202]:
import pandas as pd
#dataset: https://vincentarelbundock.github.io/Rdatasets/datasets.html (flchain.csv)
data = pd.read_csv('flchain.csv', delimiter=',')
len(data)

7874

age = age in years, 
sex = F=female, M=male, 
sample.yr = the calendar year in which a blood sample was obtained,
kappa = serum free light chain, kappa portion,
lambda = serum free light chain, lambda portion,
flc.grp = the FLC group for the subject, as used in the original analysis,
creatinine = serum creatinine,
mgus = 1 if the subject had been diagnosed with monoclonal gammapothy (MGUS),
futime = days from enrollment until death. Note that there are 3 subjects whose sample was obtained on their death date,
death = 0=alive at last contact date, 1=dead,
chapter = for those who died, a grouping of their primary cause of death by chapter headings of the International Code of Diseases ICD-9.

In [203]:
data.head()

,Unnamed: 0,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,futime,death,chapter
0,1,97,F,1997,5.70,4.860,10,1.7,0,85,1,Circulatory
1,2,92,F,2000,0.87,0.683,1,0.9,0,1281,1,Neoplasms
2,3,94,F,1997,4.36,3.850,10,1.4,0,69,1,Circulatory
3,4,92,F,1996,2.42,2.220,9,1.0,0,115,1,Circulatory
4,5,93,F,1996,1.32,1.690,6,1.1,0,1039,1,Circulatory

In [204]:
column_target = ['death']
columns_train = ['age', 'sex', 'kappa', 'lambda', 'flc.grp', 'creatinine', 'mgus', 'futime'] #, 'chapter']

In [205]:
X = data[columns_train]
Y = data[column_target]

In [206]:
#NaN value present in data
X['creatinine'].isnull().sum()
#X['chapter'].isnull().sum()

1350

In [207]:
#fill NaN value with Mean or Mediam value
X['creatinine'] = X['creatinine'].fillna(X['creatinine'].median())

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [208]:
#Let F = 1, M = 0
d = {'F':0, 'M':1}
X['sex'] = X['sex'].apply(lambda x:d[x])

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [209]:
X.head()

   age  sex  kappa  lambda  flc.grp  creatinine  mgus  futime
0   97    0   5.70   4.860       10         1.7     0      85
1   92    0   0.87   0.683        1         0.9     0    1281
2   94    0   4.36   3.850       10         1.4     0      69
3   92    0   2.42   2.220        9         1.0     0     115
4   93    0   1.32   1.690        6         1.1     0    1039

In [212]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = .33, random_state = 10)